<li>
  <span class="title"><%= wrap(entry.title) %></span>
  <span class="content"><%= wrap(entry.content) %></span>
  <span class="timestamp">
    <%= entry.created_at %>. 
  </span>
  <% if current_user?(entry.user) %>    
    <div class="btn btn-mini">Edit</div>                     
    <%= link_to(entry, method: :delete, data: { confirm: "Are you sure?" }, title: entry.content) do %>
      <div class="btn btn-mini">Delete</div>
    <% end %>
  <% end %>
</li>